
body::-webkit-scrollbar {
    display: none; 
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CFD7C7;
    color: #E5E8B6;
}

.navbar {
    background-color: #1E3F20;
    padding: 1rem;
    text-align: center;
    
}
.navbar ul {
    list-style: none;
    padding: 0;
}
.navbar li {
    display: inline-block;
    margin: 0 15px;
}
.navbar a {
    color: #E5E8B6;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border: 2px solid #4A7856;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}
.navbar a:hover {
    background: #4A7856;
    color: #CFD7C7;
}

@media screen and (max-width: 768px) {
    .navbar ul {
        padding: 0;
        margin: 0;
    }

    .navbar li {
        display: block; 
        margin: 10px 0; 
        padding-bottom: 15px; 
    }

    
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #345830;
    color: #E5E8B6;
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 1.5s ease-in-out;
    font-size: 20px;
    font-weight: 700;
}
.hero p {
    display: inline-block; 
    padding: 20px 30px;
    border: 3px solid #E5E8B6; 
    border-radius: 15px; 
    position: relative;
    top: -20px;
}

.section {
    padding: 20px;
    text-align: center;
    font-size: 20px;

}

.stem  {
    margin-left: auto;
    margin-right: auto;
    max-width: %;


}



.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.team-member {
    background: #1E3F20;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.team-member:hover {
    transform: scale(1.05);
}
.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 25%;
}


.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
}
.image-gallery img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; 
    
}

.image-gallery:hover img {
    transform: scale(1.05); 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #E5E8B6;
    background: linear-gradient(145deg, #4A7856, #1E3F20);
    border: 3px solid #345830;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.button:hover {
    background: linear-gradient(145deg, #1E3F20, #4A7856);
    color: #CFD7C7;
    transform: scale(1.05);
    size-adjust: 50px;
}



.logo {
    width: 75px; 
    height: auto; 
    position: absolute; 
    top: 0;
    left: 0;
    margin: 15px;
    transition: transform 1s ease-in-out;
}

.logo-checkbox {
    display: none;
}


.logo-checkbox:checked + .logo-label .logo {
    animation: spin 1s ease-in-out;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.logo2 {
    width: 200px; 
    height: auto; 

}



.gradient-text {
    font-size: 75px; 
    background: linear-gradient(45deg, #7de21e 20%, #50af1c 40%, #088f08 60%, #046e1f 100%);
 -webkit-background-clip: text; 
    color: transparent;
}



.hero {
    background: linear-gradient(to bottom, #345830 0%,  #1f431c 100%);
}
body, html, section  {
    background: linear-gradient(to bottom, #1f431c 0%,#33572f 100%);
}


body {

    padding-bottom: 100px;
}





